* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 80px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right, #fd7d12, #ffcf55);
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

.nav-bg {
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
  margin-right: 0;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  margin: 0 auto;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  background: #ddd;
}
.ShortNote {
  margin-top: 80px;
}
/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  background: #ddd;
}

.main-bg {
  background-color: #ddd;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: transparent;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(134, 133, 133);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
p {
  margin-top: 80px;
}
.thankyou {
  width: 100%;
  font-size: 60px;
  text-align: center;
}
